*{
    margin: 0;
    padding: 0;
}
h3{
    background-color: blueviolet;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    width: 40%;
    padding: 10px;
    margin-left: 100px;
    background-color: rgb(5, 86, 86);
    color: white;
    margin-top: 30px;
}

.image img{
    width: 100px;
    height: 100px;
    
}
.image{
    margin-top: 40px;
    margin-left: 100px;
   box-sizing: border-box;
   float: left;

}